body {
    width: 500px;
    min-width: 500px;
}

.container {
    width: 470px;
    float: left;
    padding: 1px;
}

.users {
    float: left;
}

.pseudo-link {
    cursor: pointer;
    border-bottom: 1px dashed black;
}

.yauser {
    float: left;
    margin: 10px;
    padding: 3px;

    height: 65px;

    width: 65px;
    background: white;
    border: 1px solid #ececec;

    -webkit-box-shadow:1px 2px 5px #666666;
    position: relative;
    overflow: hidden;
    text-align: center;
    /*border: 1px solid silver;
    -webkit-transition-property: width; 
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: linear; 
    -webkit-transition-delay: initial; */
}

.yauser:hover {
    z-index: 1000;
    width: 85px;
    height: 85px;
    /*margin-left: 0px;
    margin-right: 0px;*/
    margin: 0px;
    overflow: visible;

    /*-webkit-transform:scale(1.02);*/
    /*-webkit-animation-name: fade;
    -webkit-animation-duration: 1s;*/
}

.name {
    float: left;
    width: 100%;
}

.name a{
    font-weight: bold;
    font-size: small;
    vertical-align: baseline;
    color:#000000 !important;
    text-decoration:underline !important;
}

.name:first-letter {
    color:#FF0000 !important;
}

.u-small, .u-middle, .u-normal {
    float: left;
    text-align: center;
    padding-right: 2px;
    width: 100%;
}

.u-small {
    height: 25px;
}

.u-middle {
    height: 50px;
}

.u-normal {
    width: 100px;
    height: 100px;
}

#details {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 1500;

    text-align: center;

    border: 2px solid silver;
    background: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 5px;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
}
#details #hide {
    cursor: pointer;
    border-bottom: 1px dashed black;
}
#details .name a{
    font-size: large;
}
#details .u-normal {
    margin-top: 5px;
    margin-left: 25px;
}
